.jumbotron {
  background-color: #e2edff;
  padding-top: 6rem;
  background-image: url(img/header.jpg);
  background-attachment: fixed;
  background-size:cover;
  background-position: 0 -150px; /*posisi foto naik kiri dan atas */
  color :#eaeaea;
  overflow: hidden;
}
.jumbotron img{
  width: 200px;
  border: 3px solid #eaeaea;
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);

}
.jumbotron h1, .jumbotron p{
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}
.bakekok{
  overflow: hidden;
}
#projects {
  background-color: #e2edff;
}
section {
  padding-top: 5rem;
}
